<a href="https://colab.research.google.com/github/curlfo/ml_labs/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Homework_1_python_libraries_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №1

**Темы:**

*   Pandas
*   Numpy
*   Matplotlib

**Примечания:**

*   Максимальное число баллов за работу: 10
*   "Похожие" решения получают штраф 50% от набранной суммы баллов
*   Округление баллов происходит на основе функции round()
*   Видеокарта: не требуется

In [2]:
%pylab inline  

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Populating the interactive namespace from numpy and matplotlib

## 1. Pandas

**Полезные ссылки:**

* [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html)
* [Примеры](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Примеры](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

**Примечания:**

*   Запрещено использовать циклы

Скачайте данные:

In [3]:
!wget "https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0" -O "data.csv"

--2021-09-19 21:18:04--  https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5qq94wzmbw4e54r/data.csv [following]
--2021-09-19 21:18:04--  https://www.dropbox.com/s/raw/5qq94wzmbw4e54r/data.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com/cd/0/inline/BWd_UKDsNTeV8kexC-XybhwIB6P3AxH0G4uLC_5mVITRybq_sKYX45OW-y89u-r9NzRCQLJ9qcUyVVji9ioyuIVQW2M4Fhf49cRfGHt91UogE4XsfiqRuFxsVYuQH9PcTSreTLnU55pN0zq3SYWZjuNl/file# [following]
--2021-09-19 21:18:04--  https://ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com/cd/0/inline/BWd_UKDsNTeV8kexC-XybhwIB6P3AxH0G4uLC_5mVITRybq_sKYX45OW-y89u-r9NzRCQLJ9qcUyVVji9ioyuIVQW2M4Fhf49cRfGHt91UogE4XsfiqRuFxsVYuQH9PcTSreTLnU55pN0zq3SYWZjuNl/file
Resolving ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com (ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com (ucf4f0f85c9855291f1c8468dd68.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 365645 (357K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 357.08K  --.-KB/s    in 0.1s

2021-09-19 21:18:05 (3.35 MB/s) - ‘data.csv’ saved [365645/365645]

#### 1.1  [0.25 баллов] 
Откройте скачанный файл с данными. Выведите первые и последние 10 строк. Что вы можете сказать про данные? Сколько сэмплов и признаков в датасете?

In [4]:
### YOUR CODE HERE
data = pd.read_csv("data.csv")
data.head(n=5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [5]:
data.tail(n=5)

      order_id  ...  item_price
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[5 rows x 5 columns]

In [6]:
print("there're {0} samples and {1} markers in data".format(len(data), len(data.columns)))

there're 4622 samples and 5 markers in data

#### 1.2 [0.25 баллов]
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара (item_name) было куплено?

In [7]:
### YOUR CODE HERE
len(data.order_id.unique())

1834

In [8]:
len(data.item_name.unique())

50

#### 1.3 [0.25 баллов] 
Есть ли в данных пропуски? Если да, то сколько строк и сколько столбцов их содержат? Какие это столбцы?

In [9]:
### YOUR CODE HERE
data.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых. Проверьте, действительно ли пропусков не осталось.

In [10]:
### YOUR CODE HERE
data = data.fillna(value='')
data.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

#### 1.4 [0.25 баллов] 
Какого типа колонка с ценой товара (item_price)? Создайте новую колонку item_price_num так, чтобы в ней цена была числом.

In [11]:
print(data.item_price.dtypes)

object

In [12]:
tmp = pd.to_numeric(data.item_price.str.replace('$', ''))
data['item_price_num'] = tmp
print(data.item_price_num.dtypes)

float64

Какая средняя, минимальная и максимальная цена у товара (одной единицы)?

In [13]:
### YOUR CODE HERE
tmp = pd.DataFrame(data, columns=['item_name', 'item_price_num', 'quantity'])
tmp = tmp.drop_duplicates(subset='item_name')
tmp['item_price_num'] /= tmp['quantity']
tmp.item_price_num.mean()

7.2659999999999965

In [14]:
tmp.item_price_num.min()

1.09

In [15]:
tmp.item_price_num.max()

11.89

Удалите старую колонку item_price.

In [ ]:
### YOUR CODE HERE
data.drop('item_price', axis=1)

#### 1.5 [0.5 баллов] 
Какие 5 товаров были самыми дешёвыми и самыми дорогими (по item_name)?

Примечание: не забудьте избавиться от дубликатов (drop_duplicates) и учесть количество позиций в заказе.

In [ ]:
### YOUR CODE HERE
tmp.sort_values(by='item_price_num')

#### 1.6 [0.25 баллов] 
Сколько раз клиенты покупали не менее двух Bottled Water?

In [18]:
### YOUR CODE HERE

#### 1.7 [0.5 баллов] 
Определите среднюю стоимость заказа и среднее число позиций в заказе.

Примечение: воспользуйтесь группировкой (groupby).

In [19]:
### YOUR CODE HERE

#### 1.8 [0.25 баллов] 
Сколько заказов содержали ровно 1 товар?

In [20]:
### YOUR CODE HERE

#### 1.9 [0.25 баллов] 
Какая самая популярная категория товара?

In [21]:
### YOUR CODE HERE

#### 1.10 [0.5 баллов] 
Какие виды Burrito существуют? Какой из них лучше всего продается? Какой из них самый дешевый?

In [22]:
### YOUR CODE HERE

#### 1.11 [0.5 баллов] 
В каком проценте заказов есть товар, который стоит более половины суммы всего чека?

In [23]:
### YOUR CODE HERE

#### 1.12 [0.5 баллов] 
Предположим, что Diet Coke (choice_description), который стоил $1.25, мог бы стоить 1.5. Измените данные в таблице и посчитайте возможную прибыль (относительно текущей суммы продаж) за всю историю заказов.

In [24]:
### YOUR CODE HERE

## 2. Numpy

**Полезные ссылки:**

* [Документация](https://numpy.org/doc/)
* [Примеры](https://cs231n.github.io/python-numpy-tutorial/)

**Примечания:**

*   Запрещено использовать циклы

#### 2.1 [0.25 баллов] 
Разделите отрезок $[0; 1]$ на 10 равных частей и создайте массив точек разбиения (включая границы).

In [25]:
### YOUR CODE HERE

#### 2.2 [0.25 баллов] 
Создайте массив длины 3n, заполненный циклическим шаблоном 1, 2, 3.

In [26]:
### YOUR CODE HERE

#### 2.3 [0.25 баллов] 
Создайте массив из первых 50 нечетных чисел.

In [27]:
### YOUR CODE HERE

#### 2.4 [0.25 баллов] 
Создайте матрицу 8x8, заполненную числом 1, и сделайте вокруг нее границу из чисел -1.

In [28]:
### YOUR CODE HERE

#### 2.5 [0.25 баллов] 
Создайте матрицу - шахматную доску размера 8x8, заполненную нулями и единицами.

Примечание: воспользуйтесь функцией np.tile.

In [29]:
### YOUR CODE HERE

#### 2.6 [0.25 баллов] 
Удвойте каждую клетку предыдущей матрицы в ширину и в высоту.

Примечание: воспользуйтесь функцией np.repeat.

In [30]:
### YOUR CODE HERE

#### 2.7 [0.25 баллов] 
Для массива точек из задания 2.1 посчитайте $sin(x), cos(x)$. Полученные массивы скомбинируйте в матрицу размера $(10, 2)$.

Примечание: воспользуйтесь функцией np.stack или подобными.

In [31]:
### YOUR CODE HERE

#### 2.8 [0.5 баллов] 
Сгенерируйте матрицу 4x4 из стандартного нормального распределения. Отсортируйте строки матрицы (не создавая новых массивов) по последнему столбцу по неубыванию.

Примечание: воспользуйтесь модулем np.random и функцией np.argmax.

In [32]:
### YOUR CODE HERE

#### 2.9 [0.25 баллов] 
Создайте функцию check_arrays_equal, принимающую на вход два numpy массива любой размерности и возвращающей True, если они целиком совпадают, и False - иначе. В случае несовпадения размерностей функция должна выбрасывать исключение. Запустите функцию на тестовых примерах.

In [33]:
### YOUR CODE HERE

#### 2.10 [0.5 баллов] 
Создайте функцию normalized, которая получает на вход матрицу и возвращает ее измененную копию: вычитает из столбца его среднее значение и делит столбец на стандартное отклонение. При попытке деления на ноль возвращать None. Функция не должна менять исходный массив. Запустите функцию на тестовых примерах.

In [34]:
### YOUR CODE HERE

#### 2.11 [0.25 баллов] 
Создайте функцию count_diag_nonzeros, принимающую на вход матрицу и возвращающую количество ненулевых элементов главной диагонали. Если матрица на входе не квадратная - выбрасывать исключение. Если ненулевых элементов нет - возвращать None. Запустите функцию на тестовых примерах.

In [35]:
### YOUR CODE HERE

#### 2.12 [0.5 баллов] 
Создайте функцию multiply, принимающую на вход две матрицы и возвращающую их произведение. Предварительно должна осуществляться проверка на соответствие размерностей. В случае несоответствия - выбрасывать исключение. Запустите функцию на тестовых примерах.

In [36]:
### YOUR CODE HERE

## 3. Matplotlib

**Полезные ссылки:**

* [Документация](https://matplotlib.org/stable/users/index.html)

**Примечания:**

Вам предстоит использовать наиболее популярные типы графиков в Matplotlib, а именно: plot, hist, bar, scatter. Для каждой визуализации также вы должны добавить название (plt.title), подписи осей (plt.xlabel, plt.ylabel), сетку (plt.grid), а при наличии нескольких графиков на одной картинке - легенду (plt.legend), которая строится на основе названий графиков (атрибут label). Также выбирайте подходящий размер визуализации (plt.figure(figsize=...)).
При невыполнении данных требований сумма баллов за задание снижается на 50%.

Будем работать с уже знакомым датасетом заказов в фаст-фуд ресторане. Добавим новый признак - дату покупки:

In [38]:
df = data ### YOUR CODE HERE

In [39]:
import datetime

start = datetime.datetime(2021, 1, 1)
end = datetime.datetime(2021, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

df['date'] = df.order_id.map(dates['date'])

#### 3.1 [0.5 баллов] 
Постройте гистограмму распределения сумм покупок и гистограмму распределения средних цен отдельных позиций (item_name).

Примечание: постройте графики рядом, используя plt.subplot / plt.subplots.

In [ ]:
### YOUR CODE HERE

#### 3.2 [0.5 баллов] 
Постройте график зависимости суммы покупок от дней (даты).

In [ ]:
### YOUR CODE HERE

#### 3.3 [0.5 баллов]
Постройте график распределения средних сумм покупок по дням недели.

Примечание: воспользуйтесь plt.bar.

In [ ]:
### YOUR CODE HERE

#### 3.4 [0.5 балла] 
Постройте график зависимости денег за товар от купленного количества.

Примечание: воспользуйтесь plt.scatter.

In [ ]:
### YOUR CODE HERE